Numbers added: <%= num1 %> + <%= num2 %> = <%= result_add %>,
Numbers subtracted: <%= num1 %> - <%= num2 %> = <%= result_subtract %>,
Numbers multiplied: <%= num1 %> * <%= num2 %> = <%= result_multiply %>,
Numbers divided: <%= num1 %> / <%= num2 %> = <%= result_divide %>.
<form method = 'post' action = '/math_do'>
  <input type = "hidden" name = "num1" value = "<%= num1 %>">
  <input type = "hidden" name = "num2" value = "<%= num2 %>">
</form>